body {
	background-color: #ff7373;
	text-align: center;
}

.homepage {
	margin-top: 25vh;
	margin-bottom: 25vh;
}

.homepage a {
	color: #ffdb00;
	text-decoration: none;
}

.homepage a:hover {
	color: white;
	text-decoration: none;
}

h1 {
	color: #ffdb00;
	font-family: roc-grotesk, sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 140pt;
}

h3 {
	color: #7373ff;
	font-family: roc-grotesk, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.studentlist {
	margin-top: 30vh;
	margin-bottom: 30vh;
	color: white;
	font-family: roc-grotesk, sans-serif;
	font-weight: 300;
	font-style: normal;
}

.row {
	display: flex;
	margin-top: 25vh;
	margin-bottom: 25vh;
	color: white;
	font-family: roc-grotesk, sans-serif;
	font-weight: 300;
	font-style: normal;
}

.col {
	flex: 1;
}

.content a {
	color: white;
	text-decoration: none;
}

.content a:hover {
	color: #7373ff;
	background: #ffdb00;
	text-decoration: none;
}