body {
	margin: 0px;
	background-color: black;
}

@font-face {
	font-family: 'GT-Walsheim';
	src: url(GT-Walsheim-Regular-Trial.woff2) format('woff2');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'GT-Walsheim';
	src: url(GT-Walsheim-Regular-Oblique-Trial.woff2) format('woff2');
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: 'GT-Walsheim';
	src: url(GT-Walsheim-Bold-Trial.woff2) format('woff2');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'GT-Walsheim';
	src: url(GT-Walsheim-Bold-Oblique-Trial.woff2) format('woff2');
	font-style: italic;
	font-weight: 600;
}

.bigbang {
	position: absolute;
	justify-content: center;
	width: 20px;
	height: 20px;
	background: white;
	border-radius: 50%;
	box-shadow: 0 0 20px white,
				0 0 40px white,
				0 0 60px white,
				0 0 80px white;	
	animation: bigbang 8s ease-in-out 1 forwards;
}

@keyframes bigbang {
	0% {
		box-shadow: default;
	}

	100% {
		width: 700px;
		height: 700px;
		background: white;
		box-shadow: 0 0 0 30px white,
					0 0 0 60px white,
					0 0 0 100px white,
					0 0 0 1500px white;
	}
}

.title {
	font-size: 100pt;
	font-style: normal;
	font-weight: 600;
	padding-bottom: 20px;
	border-bottom: 10px solid black;
}

.source {
	font-size: 20pt;
	font-style: italic;
	font-weight: 300;
	width: 600px;
	margin-top: 50px;
}

.arrow {
	width: 200px;
	position: fixed;
	right: 8%;
	bottom: 10%;
	animation: 
		fade 3s ease-in-out infinite,
		bounce 3s ease-in-out infinite alternate;
}

@keyframes fade {
	0%, 100% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

@keyframes bounce {
	0%, 100% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-10%);
	}
}

.header {
	font-family: 'GT-Walsheim';
	animation: shift 5s ease-in-out 1 forwards;
}

@keyframes shift {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(5%);
	}	
}

@media only screen and (max-width: 767px) {
	.bigbang {
		animation: bigbang 8s ease-in-out 1 forwards;
	}

	@keyframes bigbang {
		0% {
			box-shadow: default;
		}

		100% {
			width: 420px;
			height: 420px;
			background: white;
			box-shadow: 0 0 0 30px white,
						0 0 0 60px white,
						0 0 0 100px white,
						0 0 0 400px white;
		}
	}

	.title {
		font-size: 60pt;
		padding-bottom: 10px;
		border-bottom: 8px solid black;
	}

	.source {
		font-size: 16pt;
		width: 330px;
		margin-top: 30px;		
	}

	.arrow {
		width: 150px;
		right: 12%;
		bottom: 6%;
	}
}

