body {
	background-color: black;
	align-items: center;
	background-color: rgb(222, 49, 1);
}

#container {
	margin: 6vh auto;
	background-color: white;
	border: 2px white solid;
	border-radius: 13px;
	height: 500px;
	width: 85%;
	display: flex;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

.bottom {
	display: flex;
	justify-content: center;
	justify-content: space-between;
}

.button {
	margin: 0 2vw;
	font-family: Chalkduster, fantasy;	
	font-size: 10pt;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border: 2px white solid;
	border-radius: 80px;
	width: 80px;
	height: 80px;
}

.middle {
	display: flex;
	flex-direction: column;
}

#count {
	font-family: Chalkduster, fantasy;
	color: white;	
	font-size: 10pt;
	text-align: center;
}

.swatches {
	margin-top: 2vh;
	display: flex;
	justify-content: space-around;
	width: 220px;
}

.swatch {
	border: 2px white solid;
	border-radius: 40px;
	width: 40px;
	height: 40px;
}

.swatch:hover {
	cursor: pointer;
}

#red {
	background-color: red;
}

#yellow {
	background-color: yellow;
}

#blue {
	background-color: blue;
}

#black {
	background-color: black;
}

.button:hover {
	cursor: pointer;
}

.smiley {
	height: 100px;
	visibility: hidden;
	position: absolute;
}