html, body {
	background-color: white;
	cursor: url('finger-cursor.png'), auto;
	font-family: ff-providence-sans-web-pro, sans-serif;
	margin: 0;
	padding: 0;
}

.header, .footer {
	display: flex;
	justify-content: space-between;
	position: fixed;
	margin: 0 20px;
	width: 100vw;
}

h1 {
	margin: 0;
	font-weight: 400;
	font-style: normal;
	font-size: 35pt;
}

.footer {
	bottom: 15px;
}

.cloud-button {
	display: flex;
	width: 150px;
}

svg {
	cursor: pointer;
	margin: 0 8px;
}

.st0:hover {
	fill: white;
}

.st1:hover {
	fill: black;
}

.back {
	margin: 0 40px;
	align-self: center;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: black;
}