body,html {
	margin: 0;
	padding: 0;
	transition: all 300ms ease-in-out;
}

body.hide, #hide-button {
	background: lightgray;
}

.button {
	font-family: 'GT-Walsheim';
	font-size: 13pt;
	font-weight: 300; 
	padding: 10px;
	margin: 10px;
	border: 1px solid;
	color: black;
	display: flex;
	width: 92px;
}

.button:hover {
	cursor: pointer;
}

@font-face {
	font-family: 'GT-Walsheim';
	src: url(../GT-Walsheim-Regular-Trial.woff2) format('woff2');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'GT-Walsheim';
	src: url(../GT-Walsheim-Regular-Oblique-Trial.woff2) format('woff2');
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: 'GT-Walsheim';
	src: url(../GT-Walsheim-Bold-Trial.woff2) format('woff2');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'GT-Walsheim';
	src: url(../GT-Walsheim-Bold-Oblique-Trial.woff2) format('woff2');
	font-style: italic;
	font-weight: 600;
}

.content {
	position: relative;
}

.paragraph {
	font-family: 'GT-Walsheim';
	font-size: 24pt;
	font-weight: 300; 
	color: lightgray;
	border-bottom: 2px lightgray solid;
	margin-bottom: 3px;
	padding: 10px;
}

span {
	color: black;	
}

.alternate {
	font-family: 'GT-Walsheim';
	font-size: 14pt;
	font-weight: 300; 
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
	background-color: black;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: lightgray;
}

@media only screen and (max-width: 767px) {
	.button {
		font-size: 9pt;
		width: 65px;
	}

	.paragraph {
		font-size: 16pt;
		line-height: 23pt;
	}

	.alternate {
		font-size: 10pt;
	}
}