body,html {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'GT-Walsheim';
	src: url(../GT-Walsheim-Regular-Trial.woff2) format('woff2');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'GT-Walsheim';
	src: url(../GT-Walsheim-Regular-Oblique-Trial.woff2) format('woff2');
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: 'GT-Walsheim';
	src: url(../GT-Walsheim-Bold-Trial.woff2) format('woff2');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'GT-Walsheim';
	src: url(../GT-Walsheim-Bold-Oblique-Trial.woff2) format('woff2');
	font-style: italic;
	font-weight: 600;
}

.scroll {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
}

.marquee {
	font-family: 'GT-Walsheim';
	font-size: 24pt;
	font-weight: 300; 
	color: lightgray;
	border-bottom: 2px black solid;
	padding: 4px;
	opacity: 0;
}

span {
	color: black;	
}

.alternate {
	font-family: 'GT-Walsheim';
	font-size: 13pt;
	font-weight: 300; 
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 5px;
	background-color: black;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: lightgray;
}

@media only screen and (max-width: 767px) {
	.marquee {
		font-size: 16pt;
		padding: 8px;
	}

	.alternate {
		font-size: 10pt;
	}
}