body {
  background-color: gradient yellow;
}

audio {
  opacity: 0;
  position: fixed;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.filters {
  display: flex;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
}

h1 {
  font-family: capellina-rough, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  margin: 20px 30px;
  color: blue;
}

h1:hover {
  text-shadow: 0px 0px 10px yellow;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

p {
  display: flex;
  cursor: pointer;
  font-family: capellina-caps, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: blue;
  margin-right: 30px; 
}

p:hover {
  text-shadow: 0px 0px 8px yellow;
  transition: all 0.5s ease-in-out;
  cursor: pointer; 
}

.random {
  background-color: blue;
  border: 10px solid blue;
  border-radius: 40px;
  width: 30px;
  height: 30px;
  position: fixed;  
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.icon {
  font-family: capellina-caps, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  color: blue;
  background-color: #F1F8CA;
  border-radius: 3px;
  width: 20px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(25deg);
}

.random:hover {
  box-shadow: 0px 0px 10px yellow;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  opacity: 1;  
}

#card-container {
  width: 1304px;
}

#card-container.blur .card:not(.active) {
  filter: blur(5px);
}

.card {
  display: inline-block;
  width: 300px;
  height: 400px;
  margin: 13px;
  vertical-align: top;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  background-color: transparent; 
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0px 0px 50px yellow;
  transition: all 0.5s ease-in-out;
  transform: rotateY(180deg) scale(1.5);
  z-index: 1;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}

.front_side {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #F1F8CA;
  border-radius: 10px;
  height: 100%;
}

.back_side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #F1F8CA;
  border-radius: 10px;
  overflow: scroll;
}

.card__name, .card__patronage {
  font-family: capellina-caps, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 27px;
  padding: 8px;
  color: blue;
  text-align: center;
}

.crop {
  background-size: cover;
  background-image: var(--image);
  width: 220px;
  height: 100%; 
  justify-content: center;
}

.card__image {
  width: 220px;
  height: 310px;
  position: relative;
  justify-content: center;
}

.card__desc, .link {
  font-family: new-spirit, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
  margin: 20px;
}

.link {
  background-color: #E1E8B9;
  font-size: 10px;
  color: #9A7C7C;
  padding: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.wrapper-random {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

#random-card-container {
  width: 380px;
  height: 480px;
  margin: 13px;
  vertical-align: top;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  background-color: #F1F8CA; 
  border-radius: 13px;
}

#random-button {
  font-family: capellina-caps, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  padding: 5px 10px;
  margin: 13px;
  color: #F1F8CA;
  background-color: blue;
  border-radius: 5px;  
}

#random-button:hover {
  box-shadow: 0px 0px 10px yellow;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

@media (max-width: 1360px) {
  #card-container {
    width: 978px;
  }

  h1 {
    font-size: 60px;
  }
}

@media (max-width: 1080px) {
  #card-container {
    width: 652px;
  }

  h1 {
    font-size: 50px;
  }

  p {
    font-size: 25px;
  }
}
